<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SB共享单车</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="assets/css/admin.css">
    <link rel="stylesheet" href="assets/css/app.css">
</head>

<body data-type="generalComponents">

<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo">
            <img src="assets/img/logo.png" alt="">
        </a>
    </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">

            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span class="tpl-header-list-user-nick" id="userName">none</span><span
                        class="tpl-header-list-user-ico"> <img src="assets/img/user01.png"></span>
                </a>
            </li>
            <li><a id = "quit" class="tpl-header-list-link"><span
                    class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
        </ul>
    </div>
</header>

<div class="tpl-page-container tpl-page-header-fixed">

    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title" style="font-size: 16px;margin-bottom: 15px;margin-top: -10px;">
            ShareBike管理系统
        </div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="index" class="nav-link">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-table"></i>
                        <span>维修管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu">
                        <li>
                            <a href="waitRepairBike">
                                <i class="am-icon-angle-right"></i>
                                <span>查看待维修车辆</span>
                            </a>
                        </li>
                        <li>
                            <a href="RepairFinshRecord">
                                <i class="am-icon-angle-right"></i>
                                <span>查看已完成维修记录</span>
                            </a>
                        </li>
                        <li>
                            <a href="RepairUnFinshRecord">
                                <i class="am-icon-angle-right"></i>
                                <span>查看未完成维修记录</span>
                            </a>
                        </li>
                        <li>
                            <a href="beginRepairBike">
                                <i class="am-icon-angle-right"></i>
                                <span>开始维修</span>
                            </a>
                        </li>
                        <li>
                            <a href="finshRepairBike">
                                <i class="am-icon-angle-right"></i>
                                <span>完成维修</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list active">
                        <i class="am-icon-wpforms"></i>
                        <span>车辆管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu">
                        <li>
                            <a href="AdminFindAllBike">
                                <i class="am-icon-angle-right"></i>
                                <span>查看车辆</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="tpl-left-nav-sub-menu">
                        <li>
                            <a href="AdminaAddBike">
                                <i class="am-icon-angle-right"></i>
                                <span>添加车辆</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="tpl-left-nav-sub-menu">
                        <li>
                            <a href="AdminaAddBikeType">
                                <i class="am-icon-angle-right"></i>
                                <span>添加车辆种类</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="tpl-left-nav-sub-menu">
                        <li>
                            <a href="AdminFindBikeByDetail" class="active">
                                <i class="am-icon-angle-right"></i>
                                <span>车辆统计</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-child"></i>
                        <span>人员管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu">
                        <li>
                            <a href="AdminFindAllUser">
                                <i class="am-icon-angle-right"></i>
                                <span>查看用户列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="AdminFindAllUser">
                                <i class="am-icon-angle-right"></i>
                                <span>查询用户信息</span>
                            </a>
                        </li>
                        <li>
                            <a href="AdminFindAllUser">
                                <i class="am-icon-angle-right"></i>
                                <span>添加维修员</span>
                            </a>
                        </li>
                        <li>
                            <a href="AdminFindAllUser">
                                <i class="am-icon-angle-right"></i>
                                <span>修改用户信息</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
           车辆管理
        </div>
        <ol class="am-breadcrumb">
            <li><a href="index" class="am-icon-home">首页</a></li>
            <li><a href="#">车辆管理</a></li>
            <li class="am-active">车辆统计</li>
        </ol>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code">完成维修</span>
                </div>
            </div>
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-lg-4" style="text-align: center">
                        <label >车辆类型</label >
                        <select class=" am-input-sm" id="kind1">
                            <option value="0">自行车</option>
                            <option value="1">电动车</option>
                        </select>
                    </div>
                    <div class="am-u-lg-4" style="text-align: center">
                        <label >车辆状态</label>
                        <select class=" am-input-sm" id="kind2">
                            <option value="0">正在待修</option>
                            <option value="1">正在使用</option>
                            <option value="2">正在被用</option>
                            <option value="3">已被预约</option>
                        </select>
                    </div>
                    <div class="am-u-lg-4" style="text-align: center">
                        <label >车辆供应商</label>
                        <select class=" am-input-sm" id="kind3">
                            <option value="0">江南皮革厂</option>
                            <option value="1">天工大</option>
                            <option value="3">捷安特</option>
                        </select>
                        </select>
                    </div>
                </div>
            </div>
            <div class="tpl-alert">
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form">
                            <table class="am-table am-table-striped am-table-hover table-main">
                                <thead>
                                <tr>
                                    <th class="am-u-lg-3" style="text-align: center">车辆ID</th>
                                    <th class="am-u-lg-3" style="text-align: center">车辆状态</th>
                                    <th class="am-u-lg-3" style="text-align: center">车辆添加时间</th>
                                    <th class="am-u-lg-3 " style="text-align: center">车辆种类</th>
                                </tr>
                                </thead>
                                <tbody id="reptbody">
                                </tbody>
                            </table>
                            <div class="am-cf">
                                <div class="am-fr">
                                    <ul class="am-pagination tpl-pagination">
                                        <li id="shangli" class="am-disabled"><a href="#" id="shang">«</a></li>
                                        <li id="xiali" class="am-disabled"><a href="#" id="xia">»</a></li>
                                    </ul>
                                </div>
                            </div>
                            <hr>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="js/my.js" th:inline="javascript"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var user = /*[[${session.user}]]*/ null;
    if (user == null) {
        alert("请先登录");
        window.location.href = "login"
    } else if(user.grade != 2){
        alert("您没有权限访问该网页");
        window.location.href = "index"
    }else {
        $('#userName').text(user.userName);
    }
    var page = 1;
    var mydata = {}
    function loadData() {
        mydata.page = page
        $.ajax({
            type: "post",
            url: "/admin/findAllBike",
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(mydata),
            success: function (result) {
                if(result.list.isFirstPage){
                    $("#shangli").addClass("am-disabled")
                }else{
                    $("#shangli").removeClass("am-disabled")
                }
                if(result.list.isLastPage){
                    $("#xiali").addClass("am-disabled")
                }else{
                    $("#xiali").removeClass("am-disabled")
                }
                console.log(result)
                if (result.code == 100) {
                    alert(result.msg);
                } else {
                    $("#reptbody").empty();
                    $.each(result.list.list, function (index, data) {
                        var kind;
                        if (data.type.kind == 0){
                            kind = "自行车";
                        }else{
                            kind = "电动车";
                        }
                        var state;
                        if(data.state == 0){
                            state = "等待维修";
                        }else if(data.state == 1){
                            state = "正在维修";
                        }else if(data.state == 2){
                            state = "已被预约";
                        }else if(data.state == 3){
                            state = "正被使用";
                        }else if(data.state == 4){
                            state = "可以使用";
                        }
                        $("#reptbody").append(
                            '<tr>' +
                            '<td class="am-u-lg-3"  style="text-align: center">' + data.bikeId + '</td>' +
                            '<td class="am-u-lg-3"  style="text-align: center">' + state + '</td>' +
                            '<td class="am-u-lg-3"  style="text-align: center">' + data.startTime + '</td>' +
                            '<td class="am-u-lg-3"  style="text-align: center">' + data.type.supplier+','+kind+'</td>' +
                            '</tr>'
                        );
                    });
                }
            }
        });
    }
    function loadDataByDetil(){
        $.ajax({
            type:"post",
            url: "/admin/findAllBike",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                
            }
        })
    }
    $(function () {
        loadData();
    });
    $("#shang").click(function () {
        page = page - 1;
        loadData();
    });
    $("#xia").click(function () {
        page = page + 1;
        loadData();
    });
    $('#summit').click(function () {
        mydata.bikeId = $('#bikeId').val()
        $.ajax({
            type: "post",
            url: "/admin/findBikeById",
            data:JSON.stringify(mydata),
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                if (result.code == 100) {
                    alert(result.msg);
                }else{
                    $("#xiali").addClass("am-disabled")
                    $("#shangli").addClass("am-disabled")
                    $("#reptbody").empty();
                    var kind;
                    if (result.list.type.kind == 0){
                        kind = "自行车";
                    }else{
                        kind = "电动车";
                    }
                    var state;
                    if(result.list.state == 0){
                        state = "等待维修";
                    }else if(result.list.state == 1){
                        state = "正在维修";
                    }else if(result.list.state == 2){
                        state = "已被预约";
                    }else if(result.list.state == 3){
                        state = "正被使用";
                    }else if(result.list.state == 4){
                        state = "可以使用";
                    }
                    $("#reptbody").append(
                        '<tr>' +
                        '<td class="am-u-lg-3"  style="text-align: center">' + result.list.bikeId + '</td>' +
                        '<td class="am-u-lg-3"  style="text-align: center">' + state + '</td>' +
                        '<td class="am-u-lg-3"  style="text-align: center">' + result.list.startTime + '</td>' +
                        '<td class="am-u-lg-3"  style="text-align: center">' + result.list.type.supplier+','+kind+'</td>' +
                        '</tr>'
                    );
                }
            }
        });
    })
    /*]]>*/

</script>
</body>

</html>