<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryq.sharebike.dao.StatisticMapper">
    <resultMap type="com.ryq.sharebike.pojo.Bike" id="bikeInfo">
        <id column="bikeId" property="bikeId"/>
        <result column="state" property="state"/>
        <result property="startTime" column="startTime"/>
        <result property="serviceTime" column="serviceTime"/>
        <association property="type" javaType="com.ryq.sharebike.pojo.BikeType">
            <id property="typeId" column="typeId"/>
            <result property="kind" column="kind"/>
            <result property="supplier" column="supplier"/>
            <result column="number" property="number"/>
        </association>
    </resultMap>
    <!--List<User> findUserByRegisterDate(@Param("bDate")Date bDate,@Param("eDate")Date eDate);-->
    <select id="findUserByRegisterDate" resultType="com.ryq.sharebike.pojo.User">
        select *
        from user
        <where>
            <if test="bDate != null and eDate != null">
                registerDate between #{bDate} and #{eDate}
            </if>
            <if test="bDate != null and eDate == null">
                registerDate <![CDATA[ >= ]]> #{bDate}
            </if>
            <if test="bDate == null and eDate != null">
                registerDate <![CDATA[ <= ]]> #{eDate}
            </if>
        </where>
    </select>


</mapper>
